In [34]:
import pandas as pd 


# make an empty datafram
df = pd.DataFrame();


#print empty data frame
print (df)


#create data frame using list
lst = {'name':['java' , 'python', 'js', 'matlab',' R' , 'php'], 'level':[5,3,3,5,1,1]}
df_lst = pd.DataFrame(lst)

print(df_lst)


col_level = df_lst['level'].tolist()
print(col_level)

col_level_no_dublicate =  list(dict.fromkeys(col_level))
print(col_level_no_dublicate)

Empty DataFrame
Columns: []
Index: []
     name  level
0    java      5
1  python      3
2      js      3
3  matlab      5
4       R      1
5     php      1
[5, 3, 3, 5, 1, 1]
[5, 3, 1]